.parceiros {
  max-width: 1200px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 120px;
}

.parceiros h2 {
  padding-bottom: 60px;
}

.parceiros-marcas {
  display: flex;
}

.parceiros-marcas div {
  display:flex;
  flex: 1;
  justify-content: center;
  padding: 24px 12px;
}
/**Media query**/
@media screen and (max-width: 950px) {
  .parceiros-marcas {
   flex-direction: column;
  }
}
